/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.0736rem;
  }
  
  h2 {
    font-size: 1.728rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }

  header {
    width: 100%;
  }

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 7%;

    .nav__buttons {
        display: flex;
    }

    .nav__link {
        padding: 0 20px;
        text-decoration: none;
    }
    
    .button__account {
        text-decoration: none;
        border: 2px solid black;
        padding: 10px 20px;
    }
}